
\.project

\.settings/

soot-infoflow-android/\.classpath

soot-infoflow-cmd/\.classpath

soot-infoflow-summaries/\.classpath

soot-infoflow/\.classpath

soot-infoflow-summaries/build/
soot-infoflow-summaries/target/
/.metadata
/.recommenders
.idea/
*.iml